---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Sobre el proyecto">
  <h1>Sobre el proyecto</h1>
  <p>Este proyecto es un ejemplo de como se puede usar Astro para crear un sitio web estático con componentes reactivos.</p>
</Layout>